doctype html
html
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        script(src='https://kit.fontawesome.com/1785e19be9.js' crossorigin='anonymous')
        link(rel="stylesheet", href="css/style.css")
        title Netflix - Watch TV Shows Online, Watch Movies Online 
    body
        header(class="showcase")
            div(class="showcase-top")
                img(src="img/logo.png" alt="Netflix")
                a.btn.btn-rounded(href="#") Sign In
            div(class="showcase-content")
                h1 See what's next
                p Watch anywhere. Cancel anytime
                a(href="#" class="btn btn-xl") Watch Free for 30 days
                    i(class="fas fa-chevron-right btn-icons")

        section(class="tabs")
            div(class="container")
                div(id="tab-1" class="tab-item tab-border")
                    i(class="fas fa-door-open fa-3x")
                    p(class="hide-sm") Cancel anytime
                div(id="tab-2" class="tab-item")
                    i(class="fas fa-tablet-alt fa-3x")
                    p(class="hide-sm") Watch Anywhere
                div(id="tab-3" class="tab-item")
                    i(class="fas fa-tags fa-3x")
                    p(class="hide-sm") Pick your price
        
        section(class="tab-content")
            div(class="container")
                div(id="tab-1-content" class="tab-content-item show")
                    div(class="tab-1-content-inner")
                        div
                            p(class="text-lg") If you decide Netflix isn't for you - no problem. No commitment.Cancel online anytime.
                            a(href="#" class="btn btn-lg") Watch Free For 30 Days
                        img(src="./img/tab-content-1.png")

                div(id="tab-2-content" class="tab-content-item")
                    div(class="tab-2-content-top")
                        p(class="text-lg") Watch TV shows and movies anytime, anywhere — personalized for you.
                        a(href="#" class="btn btn-lg") Watch Free For 30 Days
                    div(class="tab-2-content-bottom")
                        div
                            img(src="img/tab-content-2-1.png")
                            p(class="text-md") Watch on your TV
                            p(class="text-dark") Smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.
                        div
                            img(src="img/tab-content-2-2.png")
                            p(class="text-md") Watch instantly or download for later
                            p(class="text-dark") Available on phone and tablet, wherever you go.
                        div
                            img(src="img/tab-content-2-3.png")
                            p(class="text-md") Use any computer
                            p(class="text-dark") Watch right on Netflix.com 

                div(id="tab-3-content" class="tab-content-item")
                    div(class="text-center")
                        p(class="text-lg") Choose one plan and watch everything on Netflix.
                        a(href="#" class="btn btn-lg") Watch Free For 30 Days
                    table(class="table")
                        thead
                            tr
                                th
                                th Basic
                                th Standard
                                th Premium
                        tbody
                            tr
                                td Monthly price after free month ends on 6/19/19
                                td $8.99
                                td $12.99
                                td $15.99
                            tr
                                td HD Available
                                td 
                                    i.fas.fa-times
                                td 
                                    i.fas.fa-check
                                td 
                                    i.fas.fa-check
                            tr
                                td Ultra HD Available
                                td 
                                    i.fas.fa-times
                                td 
                                    i.fas.fa-times
                                td 
                                    i.fas.fa-check
                            tr
                                td Screens you can watch on at the same time
                                td 1
                                td 2
                                td 4
                            tr
                                td Watch on your laptop, TV, phone and tablet
                                td
                                    i.fas.fa-check
                                td
                                    i.fas.fa-check
                                td
                                    i.fas.fa-check
                            tr
                                td Unlimited movies and TV shows
                                td
                                    i.fas.fa-check
                                td
                                    i.fas.fa-check
                                td
                                    i.fas.fa-check
                            tr
                                td Cancel anytime
                                td
                                    i.fas.fa-check
                                td
                                    i.fas.fa-check
                                td
                                    i.fas.fa-check
                            tr
                                td First month free
                                td
                                    i.fas.fa-check
                                td
                                    i.fas.fa-check
                                td
                                    i.fas.fa-check

        footer.footer
            p Questions? Call 1-866-579-7172
                div.footer-cols
                    ul
                        li
                            a(href='#') FAQ
                        li
                            a(href='#') Investor Relations
                        li
                            a(href='#') Ways To Watch
                        li
                            a(href='#') Corporate Information
                        li
                            a(href='#') Netflix Originals
                    ul
                        li
                            a(href='#') Help Center
                        li
                            a(href='#') Jobs
                        li
                            a(href='#') Terms Of Use
                        li
                            a(href='#') Contact Us
                    ul
                        li
                            a(href='#') Account
                        li
                            a(href='#') Redeem Gift Cards
                        li
                            a(href='#') Privacy
                        li
                            a(href='#') Speed Test
                    ul
                        li
                            a(href='#') Media Center
                        li
                            a(href='#') Buy Gift Cards
                        li
                            a(href='#') Cookie Preferences
                        li
                            a(href='#') Legal Notices

    script(src="js/main.js")

                        
                    



